.scroll-top {
    position: fixed;
    bottom: 2em;
    right: 4em;
    background-color: transparent;
}

.scroll-top:hover {
    color: rgb(var(--clr-primary));
}

@media screen and (max-width: 900px) {
    .scroll-top {
        display: none;
    }
}