.course {
    padding: 2em;
    margin: 0 auto;
    text-align: center;
    box-shadow: var(--shadow);
    transition: transform 0.2s linear;
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.course:hover {
    transform: translateY(-7px);
}

.course__logo {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 1em;
}

.course__description {
    margin-top: 1em;
}

.course__links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1em;
}

.course .link--icon {
    margin-left: 0.5em;
}