.skills__category {
  width: 100%;
  max-width: 800px; /* Wider container */
  background: #222;
  padding: 15px;
  border-radius: 10px;
  text-align: left; /* Align title to the left */
  margin-bottom: 20px;
}

.skills__category-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #fbbc04;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.skills__list {
  display: flex; /* Change from column to row */
  flex-wrap: wrap;
  justify-content: flex-start; /* Align items in a row */
  align-items: center;
  gap: 1.5em;
  padding-left: 20px;
}

.skills__list-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 8px;
  background: #333;
  color: #fff;
  transition:
    transform 0.2s,
    background 0.2s;
}

.skills__list-item:hover {
  background: #444;
  transform: scale(1.05);
}

.skills__item-img {
  width: 30px;
  height: 30px;
}

.skills__item-text {
  font-size: 1rem;
  font-weight: 500;
}
