@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&display=swap");

.app {
  font-family: "Fira Sans", sans-serif;
  line-height: 1.5;
  color: rgb(var(--clr-fg));
  background-color: rgb(var(--clr-bg));
}

.light {
  --clr-bg: 252, 252, 252;
  --clr-bg-alt: 255, 255, 255;
  --clr-fg: 0, 0, 0;
  --clr-fg-alt: 0, 0, 0;
  --clr-primary: 225, 160, 20;
  --clr-label: 137, 88, 176;
  --shadow: rgba(176, 148, 88, 0.2) 0 7px 29px 0;
}

.dark {
  --clr-bg: 13, 8, 17;
  --clr-bg-alt: 27, 17, 35;
  --clr-fg: 230, 230, 230;
  --clr-fg-alt: 230, 230, 230;
  --clr-primary: 225, 160, 20;
  --clr-label: 183, 136, 221;
  --shadow: rgba(176, 148, 88, 0.25) 5px 5px 15px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

main {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
}

.section {
  margin-top: 4em;
}

.section__title {
  text-align: center;
  margin-bottom: 1em;
  color: rgb(var(--clr-primary));
}

.center {
  display: flex;
  align-items: center;
}

.link {
  color: rgb(var(--clr-primary));
  padding: 0 0 0.3em 0;
  position: relative;
}

.link:hover {
  color: rgb(var(--clr-primary));
}

.link::before {
  content: "";
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: rgb(var(--clr-primary));
  transition: width 0.2s ease-in;
}

.link:hover::before,
.link:focus::before {
  width: 100%;
}

.link--nav {
  color: rgb(var(--clr-fg));
}

.link--icon {
  color: rgb(var(--clr-fg));
  font-size: 1.75rem;
}

.btn {
  display: block;
  cursor: pointer;
  padding: 0.8em 1.4em;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: lowercase;
  transition: transform 0.2s ease-in-out;
}

.btn--outline {
  color: rgb(var(--clr-primary));
  border: 2px solid rgb(var(--clr-primary));
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn--outline:hover,
.btn--outline:focus {
  color: rgb(var(--clr-bg));
}

.btn--outline::before {
  content: "";
  position: absolute;
  background-color: rgb(var(--clr-primary));
  right: 100%;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: -1;
  transition: right 0.2s ease-in-out;
}

.btn--outline:hover::before,
.btn--outline:focus::before {
  right: 0;
}

.btn--plain {
  text-transform: initial;
  /* background-color: var(--clr-bg-alt); */
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 3px 0;
  border: 0;
}

.light .btn--plain {
  background-color: rgb(var(--clr-bg-alt));
}

.btn--plain:hover {
  transform: translateY(-4px);
}

.btn--icon {
  padding: 0;
}

.btn--icon:hover,
.btn--icon:focus {
  color: rgb(var(--clr-primary));
}

.btn--icon:active {
  transform: translateY(-5px);
}

.fontawesome-icon {
  font-size: 2rem;
  margin-bottom: 0.2em;
}

@media screen and (max-width: 600px) {
  .section {
    margin-top: 4em;
  }
}
